.review_card {
  width: 500px;
  margin: 0 auto 20px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

 .review_title, .review_body {
  background-color: white;
  padding: 4px;
  border-radius: inherit;
}

.review_username {
  color: #A4A4A4;
}

.review_username, .review_title {
  margin-bottom: 5px;
}