.account_review {
  // padding: 10px;
  // border-radius: 5px;
  // background-color: #ECECEC;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 35px;

  .account_film {
    padding: 10px;
    display: flex;
    height: 90px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .film_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    span {
      color: brown;
    }
  }
  
  .review_info {
    padding: 10px;
    border-radius: 5px;
    background-color: #ECECEC;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .account_film__title {
    height: fit-content;
    margin: auto 5px;
    max-width: 280px;
  }
  
  
  .review_info__title {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .review_info__delete {
    min-width: 20px;
    height: 20px;
    position: relative;
  }

  .review_info__delete::before, .review_info__delete::after {
    content: '';
    width: 20px;
    height: 5px;
    position: absolute;
    background-color: brown;
    left: 0;
    top: 8px;
  }

  .review_info__delete::before {
    transform: rotate(45deg);
  }

  .review_info__delete::after {
    transform: rotate(-45deg);
  }

}

.account__body__not_found {
  color: #C0C0C0;
  text-align: center;
  margin: 40px 0;
}