.create_movie_form {
  display: inline-grid;
}

.create_movie_form > textarea, .create_movie_form > input, .create_movie_form > button {
  border: none;
  background-color: #ECECEC;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.create_movie_form > input {
  height: 25px;
}

.create_movie_form > button {
  border: 1px solid #C0C0C0;
  padding-top: 5px;
  margin-top: 15px;
  margin-bottom: 0;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.create_movie_form > button:hover {
  background-color: #C0C0C0;
  transition: all 0.2s ease;
}