.nav-bar {
  height: 50px;
  background-color: brown;
  padding: 10px 20px;

}

.nav-bar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar li {
  margin-right: 15px;
  font-size: 20px;
}

.user {
  display: flex;
}

.user_name {
  color: white;
  margin-right: 20px;
}

.user_logout {
  padding-top: 7px;
  cursor: pointer;
  font-size: 15px;
}