.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 10;

  .ModalContent {
    padding: 30px;
    border-radius: 5px;
    min-width: 250px;
    background-color: white;
  }
}

.Modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}